body {
	    color
	Sets the color of an element's text
	Learn more
	Don't show
	: #333;
	    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.parallax {
    background-image: url('../imgs/fondo01.jpg'); 
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2, h3, h4 {
	color: #85A143;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #85a143;
}
.accordion-button:focus {
    border-color: #B2D659;
   	box-shadow: 0 0 0 0.15rem #B2D659; /* Color personalizado */
}
.nav-link {
	color: #85a143;
}
.nav-link:hover {
	color: #B2D659;
}
@media (max-width: 576px) {
  .w-75 {
    width: 95% !important;
  }
}